<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>SeeTrend</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<style type="text/css">
        @FONT-FACE {
            font-family:'NanumGothic';
            src:url('fonts/NanumGothic.woff') foramt('woff'),
            src:url('fonts/NanumGothic.ttf) format ('truetype');
        }
        body{
            font-family:'NanumGothic';
        }

        table.type09 {
          border-collapse: collapse;
          text-align: left;
          line-height: 1.5;

        }
        table.type09 thead th {
          padding: 10px;
          font-weight: bold;
          vertical-align: top;
          color: #369;
          border-bottom: 3px solid #036;
        }
        table.type09 tbody th {
          width: 600px;
          padding: 10px;
          font-weight: bold;
          vertical-align: top;
          border-bottom: 1px solid #ccc;
          background: #f3f6f7;
        }
        table.type09 td {
          width: 600px;
          padding: 10px;
          vertical-align: top;
          border-bottom: 1px solid #ccc;
        }

        #chartdiv {
          width: 100%;
          height: 500px;
          max-width: 100%;
        }
    </style>

<body>
<script th:inline="javascript">

// Our labels along the x-axis

var dates = [];

// For drawing the lines


var ratio0 = [];
var ratio1 = [];
var ratio2 = [];
var ratio3 = [];
var ratio4 = [];
var ratio5 = [];
var ratio6 = [];
var ratio7 = [];
var ratio8 = [];
var ratio9 = [];

var title = [];
/*[# th:each="titleName : ${title}"]*/
        var titleName = /*[[${titleName}]]*/;
        title.push(titleName);
/*[/]*/

/*[# th:each="date : ${dateList}"]*/
        var date = /*[[${date}]]*/;
        dates.push(date);
/*[/]*/

/*[# th:each="ratio : ${ratio0}"]*/
        var ratio = /*[[${ratio}]]*/;
        ratio0.push(ratio);
/*[/]*/

/*[# th:each="ratio : ${ratio1}"]*/
        var ratio = /*[[${ratio}]]*/;
        ratio1.push(ratio);
/*[/]*/

/*[# th:each="ratio : ${ratio2}"]*/
        var ratio = /*[[${ratio}]]*/;
        ratio2.push(ratio);
/*[/]*/

/*[# th:each="ratio : ${ratio3}"]*/
        var ratio = /*[[${ratio}]]*/;
        ratio3.push(ratio);
/*[/]*/

/*[# th:each="ratio : ${ratio4}"]*/
        var ratio = /*[[${ratio}]]*/;
        ratio4.push(ratio);
/*[/]*/

/*[# th:each="ratio : ${ratio5}"]*/
        var ratio = /*[[${ratio}]]*/;
        ratio5.push(ratio);
/*[/]*/

/*[# th:each="ratio : ${ratio6}"]*/
        var ratio = /*[[${ratio}]]*/;
        ratio6.push(ratio);
/*[/]*/

/*[# th:each="ratio : ${ratio7}"]*/
        var ratio = /*[[${ratio}]]*/;
        ratio7.push(ratio);
/*[/]*/

/*[# th:each="ratio : ${ratio8}"]*/
        var ratio = /*[[${ratio}]]*/;
        ratio8.push(ratio);
/*[/]*/

/*[# th:each="ratio : ${ratio9}"]*/
        var ratio = /*[[${ratio}]]*/;
        ratio9.push(ratio);
/*[/]*/



window.onload=function(){
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: dates,
    datasets: [
      {
        data: ratio0,
        label: title[0],
        borderColor: "#3e95cd",
        fill: false
      },
      {
        data: ratio1,
        label: title[1],
        borderColor: "#8e5ea2",
        fill: false
      },
      {
        data: ratio2,
        label: title[2],
        borderColor: "#3cba9f",
        fill: false
      },
      {
        data: ratio3,
        label: title[3],
        borderColor: "#e8c3b9",
        fill: false
      },
      {
        data: ratio4,
        label: title[4],
        borderColor: "#c45850",
        fill: false
      },
      {
        data: ratio5,
        label: title[5],
        borderColor: "#271110",
        fill: false
      },
      {
        data: ratio6,
        label: title[6],
        borderColor: "#990099",
        fill: false
      },
      {
        data: ratio7,
        label: title[7],
        borderColor: "#00FFFF",
        fill: false
      },
      {
        data: ratio8,
        label: title[8],
        borderColor: "#99FF00",
        fill: false
      },
      {
        data: ratio9,
        label: title[9],
        borderColor: "#FF3366",
        fill: false
      },
    ]
  },
  options: {
    title: {
      display: true,
      text: '실시간 검색어 월별 그래프'
        }
      }
  });
}


</script>
<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom alert-success">SeeTrend</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">About</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/searchWord">급상승 검색어</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/searchGraph">검색 추이</a>
    </div>
  </div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light alert-success border-bottom">
      <div class="container-fluid">
        <button class="btn btn-dark" id="sidebarToggle">side bar</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
<!--            <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>-->
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
<!--              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">-->
<!--                <a class="dropdown-item" href="#!">Action</a>-->
<!--                <a class="dropdown-item" href="#!">Another action</a>-->
<!--                <div class="dropdown-divider"></div>-->
<!--                <a class="dropdown-item" href="#!">Something else here</a>-->
<!--              </div>-->
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page content-->
    <div class="container-fluid">

      <canvas id="myChart" width="1600" height="700"></canvas>
      <p style="color: red";> ** 검색량이 충분하지 않은 경우 그래프가 출력되지 않을 수 있습니다 !</p>
      <p style="color: red";> ** 해당 수치는 상대적인 값을 나타냅니다</p>
    </div>
  </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>
